{% extends "main/layout.html" %}
{% load static %}
{% block head %}
    <title>Childfun | {{ current_category.name }}</title>
{% endblock %}
{% block body %}
<div class="mb-3">
    <a href='/'>Baş sahypa</a>
    {% for category in categories %}
        <a href='/category/{{ category.pk }}'>{{ category.name }}</a>
    {% endfor %}
</div>
<div class="mb-3">
    {% for video in videos %}
    <video width='720' controls>
        <source src="media/{{ video.file }}" type="video/mp4">
    </video>
    {% endfor %}
</div>
{% endblock %}